body {background-color: #1E1F24;}

.game-window{
    display: block;
    border-radius: 5%;
    height: 600px;
    width: 700px;
    background-color: #272727;
    color: #7E8189;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}

.button{
  background-color: #1C1C1C;
  color: #333333;
  border: 6px outset;
  padding: 32px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

.button:active{
    border-style: inset;
}

.theme{
    padding: 0px 15px;
    position: relative;
    bottom: 600px;
    left: 240px;
}

.modal {
    background-color: #333333;
    color: #7E8189;
    display:none;
    position: relative;
    text-align: center;
    bottom:500px;
    left: 200px;
    padding: 5px;
    padding-bottom: 40px;
    width: 300px;
}

.modal button{
    background-color: #e8f0f3;
    border: 4px outset;
}

.modal button:active{
    border-style: inset;
}

.closebtn{
    float: right;
}


.smiley{
    background: url(/img/Smiley-dark.png);
  background-size: 65px 65px;
}

.lives-display{
    display: block;
    position: relative;
    background-color:#333333;
    color: #7E8189;
    width: 200px;
    height: 100px;
    left: 15px;
    bottom: 530px;
    text-align: center;
}

.lives{
    height: 40px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
}

.game-table{
    height: 400px;
    width: 400px;
    color: #333333;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;

}

.cell{
    background-color: #333333;
    border-color: #333333;
    border: 4px outset;
    object-fit: cover;
}

.red{
    background-color: #b11919;
    border: 4px inset;
    object-fit: cover;
}

.easy{
    height:80px; 
    width: 80px;
}

.normal{
    height:36px; 
    width: 36px;
}

.hard{
    height:20px; 
    width: 20px;
}

.cell img{
    height: 75%;
    width: auto;
}

.shown{
    border-style: inset;
    background-color: #1C1C1C;
    border-color: #1C1C1C;
    color: #7E8189;
    font-weight: bold;
}

img{
    height: 30px;
    width: auto;
}

